body {
  text-align: center;
  background-color: #93b6c1 !important;
  min-height: 100vh;
  position: relative;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.post2 {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* @media only screen and (min-device-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 20px 60px;
  }
} */
