body {
  text-align: center;
  background-color: #93b6c1 !important;
  min-height: 100vh;
  position: relative;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.post {
  margin: 20px;
  padding: 20px;
}

.meme {
width: 100vw;
}



